.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

@media screen and (min-width: 720px) {
    .header {
        display: flex;
        justify-content: space-between;
        margin: 40px 100px;
    }
}