.thumb {
    position: relative;
    width: 340px;
    height: 255px;
    border-radius: 10px;
    overflow: hidden;
}
.thumbTransparentEffect {
    position: absolute;
    z-index: 10;
    height: 340px;
    width: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.thumbImage {
    height: 340px;
    width: 340px;
    object-fit: cover;
    z-index: -10;
}

.thumbTitle {
    position: absolute;
    left: 5%;
    bottom: 8%;
    font-size: 18px;
    color: #ffffff;
    z-index: 10;
}

@media screen and (min-width: 570px) {
    .thumb {
        height: 340px;
    }
}